body {
    margin: 0;
    background: #111;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

canvas {
    border: 3px solid #fff;
    background: linear-gradient(#87CEEB, #55aaff);
    image-rendering: pixelated;
}